## Python Basic

__1. String__

In [ ]:
- String Type

In [16]:
print('This is ...')
print("Course name is .. \n HaHaHa ")
print("Today is .. \n BeGoPa ")

This is ...
Course name is ..
 HaHaHa
Today is ..
 BeGoPa

__2. Integers, floats and decimals__

In [17]:
# addition :
# comments 
23+17

40

In [18]:
2/3

0.6666666666666666

x = 23; y = 17
print(x + y)
print(x + y, x - y, x * y, x/y)
print('JH' + ' LOVE')

__3. Data Types__

# addition
y = 5 # assign a value to the variable y.
z = 7.5
print('y + z =', y + z)
# subtraction
print('y - z =', y - z)
# multiplication
print('y * z = ', y * z)
#division
print('z / y = ', z / y)
#exponent
print('y**2 =', y**2)
# floor division
print('z//y = ', z//y)
#remainder
print('z%y = ', z%y)
print(type(y))
print(type(z))

__4. String, Boolean, and triple quoted strings__

In [42]:
print( 7 > 3 )
print( 3 > 7 )
x = 7 > 3
print(type(x), x)

True
False
<class 'bool'> True

In [46]:
""" I love JH 
''' L.O.V.E '''
"""
''' hahahaha '''

' hahahaha '

__5. Taking input values__

In [47]:
your_name = input('What is your name?')
print(your_name)

What is your name? JH

JH

In [53]:
your_age = input('How old are you?')
print(your_age, type(your_age))

How old are you? 35

35 <class 'str'>

In [54]:
my_age = input('How old am I?')
print(your_age + my_age)

How old am I? 20

3520

In [56]:
print(int(your_age) + int(my_age))
int(21.8)

55

21

In [57]:
print(float(your_age) + float(my_age))

55.0

__6. if__

In [60]:
x = int(input('Enter an Integer'))

if x == 1:
    print('x has a value of 1')
else:
    print('x does not have a value of 1')

Enter an Integer 1234

x does not have a value of 1

In [62]:
var1 = int(input('Enter an Integer'))

if var1 < 0:
    print('var1 = ', var1, ' is negative.')
    
var2 = int(input('Enter an Integer'))

if var2 < 0:
    print('The second integer is negative', "and its value is ", var2)
else:
    print('The second integer is positive', "and its value is ", var2)

Enter an Integer -1

var1 =  -1  is negative.

Enter an Integer -1

The second integer is negative and its value is  -1

In [63]:
print(x, type(x))

1234 <class 'int'>

In [66]:
x = 2.5
print(x, type(x))

2.5 <class 'float'>

In [67]:
x = 'love'
print(x, type(x))

love <class 'str'>

In [68]:
print('Hello!!'); print('This Love is True!!! \n LJH i miss u')

Hello!!
This Love is True!!!
 LJH

__1. if elif__

In [76]:
weight = int(input('Type your weight'))

if weight >= 90:
    print('fat!!', 'Exercise!')
elif weight >= 60:
    print('normal')
else:
    print('thin\nEat more!')

Type your weight 49

thin
Eat more!

In [79]:
weight = int(input('Type your weight'))
height = int(input('Type your height'))

if weight >= 90 and height <= 150:
    print('fat!!', 'Exercise!')
elif weight >= 60 or 160 <=  height < 180:
    print('normal')
else:
    print('thin\nEat more!')

Type your weight 55
Type your height 150

thin
Eat more!

__2. while 반복문, f-string 소개__

In [81]:
# calculating powers of 2
k = 1 

while k <= 100:
    k = k*2
    print(k)

2
4
8
16
32
64
128

In [84]:
# substring 1 repeatedly

l = 10
while l > 0:
    l = l - 1
    print(l, end = ' ')

9 8 7 6 5 4 3 2 1 0

### hihi
total = 0
counter = 0

grade = int(input('Enter grate or -1 to end: '))

while grade != -1:
    total += grade
    counter += 1
    grade = int(input('Enter grate or -1 to end: '))

if counter != 0:
    average = total / counter
    print('Total grade is', total)
    print('The number of students is', counter)
    print(f'Class Average is {average}')
else:
    print('No grades were entered')

__3. for 반복문__

In [90]:
for item in [1,2,3,4,5]:
    print('item :', item)

letters = ['A','B','C','D']
for i in letters:
    print('letters :', i)

item : 1
item : 2
item : 3
item : 4
item : 5
letters : A
letters : B
letters : C
letters : D

In [91]:
for i in range(len(letters)):
    print('Each letter :', letters[i])

for i in 'PythonPrograming':
    print(i, end = ' ')

print()
total = 0
for number in [2, -3, 0, 17, 9]:
    total = total + number
print(total)

Each letter : A
Each letter : B
Each letter : C
Each letter : D
P y t h o n P r o g r a m i n g
25

__4. Augmented assignment__

In [93]:
total = 0
for i in range(10):
    print(i, end = ' ')
    total += i
total

0 1 2 3 4 5 6 7 8 9

45

__5.Making a for loop with augmented assignments__

In [97]:
total = 0
NumStudents = 0
grades = [98, 76, 71, 87, 83, 90, 57, 79, 82, 94]
for i in grades:
    total += i
    NumStudents += 1
average = total/NumStudents
print(f'Class average is {average}')
print(f'Average is {total/NumStudents:.2f}')

Class average is 81.7
Average is 81.70

__6. A built-in function, range__

In [98]:
# range
for i in range(7, 20):
    print(i, end=', ')

7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,

In [1]:
print()
for i in range(10, 20, 3):
    print(i, end=', ')

10, 13, 16, 19,

In [3]:
print()
for i in range(15, 0, -2):
    print(i, end=', ')

15, 13, 11, 9, 7, 5, 3, 1,

__7.Advanced use of while and for loops__

In [4]:
l = 10
while l > 0:
    l -= 1
    print(l, end = ' ')
print()
print('Loop ended', l)

9 8 7 6 5 4 3 2 1 0
Loop ended 0

In [6]:
l = 10
while l > 0:
    l -= 1
    if l == 5:
        break
    print(l, end = ' ')
print()
print('Loop ended', l)

9 8 7 6
Loop ended 5

In [15]:
l = 10
while l > 0:
    l -= 1
    if l == 5:
        break
        print(l, end = ' ')
    else:
        print('Loop ended', l)

Loop ended 9
Loop ended 8
Loop ended 7
Loop ended 6

In [10]:
for i in 'Python':
    if i == 'o':
        continue
    print(i, end = ' ')

P y t h n