## Python Basic

__1. String__

In [ ]:
- String Type

In [16]:
print('This is ...')
print("Course name is .. \n HaHaHa ")
print("Today is .. \n BeGoPa ")

This is ...
Course name is ..
 HaHaHa
Today is ..
 BeGoPa

__2. Integers, floats and decimals__

In [17]:
# addition :
# comments 
23+17

40

In [18]:
2/3

0.6666666666666666

x = 23; y = 17
print(x + y)
print(x + y, x - y, x * y, x/y)
print('JH' + ' LOVE')

__3. Data Types__

# addition
y = 5 # assign a value to the variable y.
z = 7.5
print('y + z =', y + z)
# subtraction
print('y - z =', y - z)
# multiplication
print('y * z = ', y * z)
#division
print('z / y = ', z / y)
#exponent
print('y**2 =', y**2)
# floor division
print('z//y = ', z//y)
#remainder
print('z%y = ', z%y)
print(type(y))
print(type(z))

__4. String, Boolean, and triple quoted strings__

In [42]:
print( 7 > 3 )
print( 3 > 7 )
x = 7 > 3
print(type(x), x)

True
False
<class 'bool'> True

In [46]:
""" I love JH 
''' L.O.V.E '''
"""
''' hahahaha '''

' hahahaha '

__5. Taking input values__

In [47]:
your_name = input('What is your name?')
print(your_name)

What is your name? JH

JH

In [53]:
your_age = input('How old are you?')
print(your_age, type(your_age))

How old are you? 35

35 <class 'str'>

In [54]:
my_age = input('How old am I?')
print(your_age + my_age)

How old am I? 20

3520

In [56]:
print(int(your_age) + int(my_age))
int(21.8)

55

21

In [57]:
print(float(your_age) + float(my_age))

55.0

__6. if__

In [60]:
x = int(input('Enter an Integer'))

if x == 1:
    print('x has a value of 1')
else:
    print('x does not have a value of 1')

Enter an Integer 1234

x does not have a value of 1

In [62]:
var1 = int(input('Enter an Integer'))

if var1 < 0:
    print('var1 = ', var1, ' is negative.')
    
var2 = int(input('Enter an Integer'))

if var2 < 0:
    print('The second integer is negative', "and its value is ", var2)
else:
    print('The second integer is positive', "and its value is ", var2)

Enter an Integer -1

var1 =  -1  is negative.

Enter an Integer -1

The second integer is negative and its value is  -1

In [63]:
print(x, type(x))

1234 <class 'int'>

In [66]:
x = 2.5
print(x, type(x))

2.5 <class 'float'>

In [67]:
x = 'love'
print(x, type(x))

love <class 'str'>

In [68]:
print('Hello!!'); print('This Love is True!!! \n LJH i miss u')

Hello!!
This Love is True!!!
 LJH

__1. if elif__

In [76]:
weight = int(input('Type your weight'))

if weight >= 90:
    print('fat!!', 'Exercise!')
elif weight >= 60:
    print('normal')
else:
    print('thin\nEat more!')

Type your weight 49

thin
Eat more!

In [79]:
weight = int(input('Type your weight'))
height = int(input('Type your height'))

if weight >= 90 and height <= 150:
    print('fat!!', 'Exercise!')
elif weight >= 60 or 160 <=  height < 180:
    print('normal')
else:
    print('thin\nEat more!')

Type your weight 55
Type your height 150

thin
Eat more!

__2. while 반복문, f-string 소개__

In [81]:
# calculating powers of 2
k = 1 

while k <= 100:
    k = k*2
    print(k)

2
4
8
16
32
64
128

In [84]:
# substring 1 repeatedly

l = 10
while l > 0:
    l = l - 1
    print(l, end = ' ')

9 8 7 6 5 4 3 2 1 0

### hihi
total = 0
counter = 0

grade = int(input('Enter grate or -1 to end: '))

while grade != -1:
    total += grade
    counter += 1
    grade = int(input('Enter grate or -1 to end: '))

if counter != 0:
    average = total / counter
    print('Total grade is', total)
    print('The number of students is', counter)
    print(f'Class Average is {average}')
else:
    print('No grades were entered')

__3. for 반복문__

In [90]:
for item in [1,2,3,4,5]:
    print('item :', item)

letters = ['A','B','C','D']
for i in letters:
    print('letters :', i)

item : 1
item : 2
item : 3
item : 4
item : 5
letters : A
letters : B
letters : C
letters : D

In [91]:
for i in range(len(letters)):
    print('Each letter :', letters[i])

for i in 'PythonPrograming':
    print(i, end = ' ')

print()
total = 0
for number in [2, -3, 0, 17, 9]:
    total = total + number
print(total)

Each letter : A
Each letter : B
Each letter : C
Each letter : D
P y t h o n P r o g r a m i n g
25

__4. Augmented assignment__

In [93]:
total = 0
for i in range(10):
    print(i, end = ' ')
    total += i
total

0 1 2 3 4 5 6 7 8 9

45

__5.Making a for loop with augmented assignments__

In [97]:
total = 0
NumStudents = 0
grades = [98, 76, 71, 87, 83, 90, 57, 79, 82, 94]
for i in grades:
    total += i
    NumStudents += 1
average = total/NumStudents
print(f'Class average is {average}')
print(f'Average is {total/NumStudents:.2f}')

Class average is 81.7
Average is 81.70

__6. A built-in function, range__

In [98]:
# range
for i in range(7, 20):
    print(i, end=', ')

7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,

In [1]:
print()
for i in range(10, 20, 3):
    print(i, end=', ')

10, 13, 16, 19,

In [3]:
print()
for i in range(15, 0, -2):
    print(i, end=', ')

15, 13, 11, 9, 7, 5, 3, 1,

__7.Advanced use of while and for loops__

In [4]:
l = 10
while l > 0:
    l -= 1
    print(l, end = ' ')
print()
print('Loop ended', l)

9 8 7 6 5 4 3 2 1 0
Loop ended 0

In [6]:
l = 10
while l > 0:
    l -= 1
    if l == 5:
        break
    print(l, end = ' ')
print()
print('Loop ended', l)

9 8 7 6
Loop ended 5

In [15]:
l = 10
while l > 0:
    l -= 1
    if l == 5:
        break
        print(l, end = ' ')
    else:
        print('Loop ended', l)

Loop ended 9
Loop ended 8
Loop ended 7
Loop ended 6

In [1]:
for i in 'Python':
    if i == 'o':
        continue
    print(i, end = ' ')

P y t h n

__1. function__

In [4]:
# 
import math 

def circle(radius):
    """ function description """
    return math.pi*radius**2, 2*math.pi*radius

print(math.pi)

3.141592653589793

In [5]:
circle(3)

(28.274333882308138, 18.84955592153876)

In [8]:
x = 3
print(f'The area and circumference of a circle with {x}cm radius \
are {circle(x)[0]:.2f}cm squared and {circle(x)[1]:.3f}cm.')

The area and circumference of a circle with 3cm radius are 28.27cm squared and 18.850cm.

In [9]:
circle?

Signature: circle(radius)
Docstring: function description
File:      c:\users\jeongeun_kim\appdata\local\temp\ipykernel_19960\2882480736.py
Type:      function

In [10]:
def myfunction(x, y):
    """ calc """
    return x+y, x*y, x%y

myfunction(10, 2)

(12, 20, 0)

In [15]:
def findmin():
    """ Find ... """
    x = int(input("1st :"))
    y = int(input("2nd :"))
    z = int(input("3rd :"))

    min = x
    if y < min :
        min = y
    if z < min:
        min = z
    return min

findmin()

1st : 4
2nd : 3
3rd : 2

2

In [18]:
x = 12
def findmin2(x, y, z):
    """ find min 2 """
    return min(x, y, z)

print(findmin2(3, 2, 1))
print(x)

1
12

In [23]:
def rectangle(w=3, h=5):
    """ rectangle function """
    print(w, h)
    return w*h

print(rectangle(), rectangle(5), rectangle(2,6))

3 5
5 5
2 6
15 25 12

In [24]:
print(rectangle(h=4), rectangle(h=6, w=7))

3 4
7 6
12 42

In [33]:
def main(x):
    """An excercise of main function"""
    print(f'The area and circumference of a circle with {x}cm radius\
    are {circle(x)[0]:.2f}cm squared and {circle(x)[1]:.3f}cm.')
    print('Main function is executed!')
    
#if __name__ == '__main__':
main(4); __name__

The area and circumference of a circle with 4cm radius    are 50.27cm squared and 25.133cm.
Main function is executed!

'__main__'

In [35]:
%run main_function.py

The area and circumference of a circle with 10cm radius    are 314.16cm squared and 62.832cm.
Main function is executed!

In [36]:
!python main_function.py

The area and circumference of a circle with 10cm radius    are 314.16cm squared and 62.832cm.
Main function is executed!

In [38]:
import main_function as mf

print(mf.circle(10))
print(mf.__name__)

(314.1592653589793, 62.83185307179586)
main_function

In [39]:
math.fabs?

Signature: math.fabs(x, /)
Docstring: Return the absolute value of the float x.
Type:      builtin_function_or_method

In [42]:
name = 'LeeJunHo'
print(name.lower(), name.upper(), name)

leejunho LEEJUNHO LeeJunHo

In [46]:
import random

for roll in range(10):
    print(random.randrange(1, 7), end=' ')

3 6 1 5 6 2 1 5 2 5

In [49]:
random.randrange?

Signature: random.randrange(start, stop=None, step=1)
Docstring:
Choose a random item from range(stop) or range(start, stop[, step]).

Roughly equivalent to ``choice(range(start, stop, step))`` but
supports arbitrarily large ranges and is optimized for common cases.
File:      c:\users\jeongeun_kim\appdata\local\anaconda3\envs\ml_env\lib\random.py
Type:      method

In [54]:
f0 = 0
f1 = 0
sample = 10_000

for roll in range(sample):
    face = random.randrange(0, 2)
    if face == 0:
        f0 += 1
    else:
        f1 += 1

print(f'{"Face"}{"Frequency":>13}{"Ratio":>10}')
print(f'{0:>4}{f0:>13}{f0/sample*100:>10.2f}')
print(f'{1:>4}{f1:>13}{f1/sample*100:>10.2f}')

Face    Frequency     Ratio
   0         4972     49.72
   1         5028     50.28

In [63]:
random.seed(20191215)

for roll in range(10):
    print(random.randrange(1, 7), end=' ')

3 6 3 1 2 1 2 3 6 3

In [65]:
for roll in range(10):
    print(random.randrange(1, 7), end=' ')

4 4 5 6 6 6 6 5 2 4

In [66]:
from math import ceil, floor, pi
import statistics as stat

print(pi, ceil(9.8), floor(9.8))
x = [3,4,5]
print(stat.mean(x))

3.141592653589793 10 9
4

__1. Lists and Tuples__

In [67]:
list1 = [1,2,3, 'a', 'b']

print(type(list1), list1)

<class 'list'> [1, 2, 3, 'a', 'b']

In [80]:
print(list1[1], list1[4])
print(list1[2:5])
print(list1[:5])
print(list1[-1])
print(list1[-4])
print(list1[1+2:])

2 b
[3, 'a', 'b']
[1, 2, 3, 'a', 'b']
b
2
['a', 'b']

In [81]:
len(list1)

5

In [82]:
list1[2] = 'c'

In [83]:
print(type(list1), list1)

<class 'list'> [1, 2, 'c', 'a', 'b']

In [88]:
list2 = []

for item in range(11, 14, 1):
    # list2 += [item]
    list2.append(item)

print(type(list2), list2)

<class 'list'> [11, 12, 13]

In [90]:
list3 = []
list3 += 'JH miss you '
print(type(list3), list3)

<class 'list'> ['J', 'H', ' ', 'm', 'i', 's', 's', ' ', 'y', 'o', 'u', ' ']

In [91]:
list3 += ('L','O','V','E')
print(type(list3), list3)

<class 'list'> ['J', 'H', ' ', 'm', 'i', 's', 's', ' ', 'y', 'o', 'u', ' ', 'L', 'O', 'V', 'E']

In [94]:
list_new = list1 + list2
print(list_new)

[1, 2, 'c', 'a', 'b', 11, 12, 13]

In [98]:
for i in range(len(list_new)):
    print(f'({i}, {list_new[i]})', end = ' ')

(0, 1) (1, 2) (2, c) (3, a) (4, b) (5, 11) (6, 12) (7, 13)

In [101]:
t1 = 10, 20, 30, 'JH'
t1 += ( 40, 50 )
print(t1)

(10, 20, 30, 'JH', 40, 50)

In [105]:
t2 = tuple([10, 20, 30, 40])
print(t2)
print(t2[2])
print(t2[:3])

(10, 20, 30, 40)
30
(10, 20, 30)

In [117]:
t3 = 'lee', 'jun', 'ho', [80, 90, 100]
print(len(t3))
t3[3][1] = 88
print(t3)

4
('lee', 'jun', 'ho', [80, 88, 100])

In [115]:
t4 = (('lee', 'jun', 'ho'), [80, 90, 100])
print(len(t4))
last_name, grades = t4
print(last_name, grades, type(last_name), type(grades))

grade1, grade2, grade3 = grades
print(grade1, grade2, grade3)

first, second, third, fourth = 'LOVE'
print(first, second, third, fourth)

2
('lee', 'jun', 'ho') [80, 90, 100] <class 'tuple'> <class 'list'>
80 90 100
L O V E

In [120]:
colors = ['red', 'yellow', 'blue']
print(list(enumerate(colors)))
print(tuple(enumerate(colors)))

for index, color in enumerate(colors):
    print(f'{index}:{color}')

[(0, 'red'), (1, 'yellow'), (2, 'blue')]
((0, 'red'), (1, 'yellow'), (2, 'blue'))
0:red
1:yellow
2:blue

In [127]:
bar = [1, 25, 9]
print(f'Index{"Value":>8},    Bar')
for index, value in enumerate(bar):
    print(f'{index:>5}{value:>8}     {"*"*value}')

Index   Value,    Bar
    0       1     *
    1      25     *************************
    2       9     *********

In [130]:
print(list_new)
print(list_new[:])
print(list_new[::3])

[1, 2, 'c', 'a', 'b', 11, 12, 13]
[1, 2, 'c', 'a', 'b', 11, 12, 13]
[1, 'a', 12]

In [131]:
list_new[0:3] = ['one', 'two', 'three']
print(list_new)

['one', 'two', 'three', 'a', 'b', 11, 12, 13]

In [132]:
list_new[0:3] = []
print(list_new)

['a', 'b', 11, 12, 13]

In [133]:
del list_new[-1]
print(list_new)

['a', 'b', 11, 12]

In [134]:
del list_new[::2]
print(list_new)

['b', 12]

In [135]:
del list_new[:]
print(list_new)

[]

In [141]:
#print(bar)
#del bar
#print(bar)

In [154]:
numbers = [1,5,2,7,4,8,3]
numbers.sort()
numbers

[1, 2, 3, 4, 5, 7, 8]

In [152]:
numbers.sort(reverse = True)
numbers

[8, 7, 5, 4, 3, 2, 1]

In [155]:
numbers.reverse()
numbers

[8, 7, 5, 4, 3, 2, 1]

In [162]:
str = 'I Love J H!'
print(str, type(str))
str = str.split()
print(str, type(str))

I Love J H! <class 'str'>
['I', 'Love', 'J', 'H!'] <class 'list'>

In [157]:
str.sort(key=len)
print(str, type(str))

['I', 'JH!', 'Love'] <class 'list'>

In [163]:
str = sorted(str)
print(str, type(str))

['H!', 'I', 'J', 'Love'] <class 'list'>

In [173]:
x = [1,5,2,7,4,8,3]
y = sorted(x)
z = reversed(x)
print(x)
print(y)
print(list(z))
print(12 in x)
print('Love' in str)

[1, 5, 2, 7, 4, 8, 3]
[1, 2, 3, 4, 5, 7, 8]
[3, 8, 4, 7, 2, 5, 1]
False
True

In [176]:
print(str)
str.insert(2, '완전')
print(str)

['H!', 'I', 'J', 'Love']
['H!', 'I', '완전', 'J', 'Love']

In [177]:
print(str)
str.append('somush')
print(str)

['H!', 'I', '완전', 'J', 'Love']
['H!', 'I', '완전', 'J', 'Love', 'somush']

In [178]:
print(str)
str.remove('완전')
print(str)

['H!', 'I', '완전', 'J', 'Love', 'somush']
['H!', 'I', 'J', 'Love', 'somush']

In [181]:
print(str+['JH', 'JK'])
str.extend(['JH', 'JK'])
print(str)

['H!', 'I', 'J', 'Love', 'somush', 'JH', 'JK', 'JH', 'JK']
['H!', 'I', 'J', 'Love', 'somush', 'JH', 'JK', 'JH', 'JK']

In [182]:
str.clear()
print(str)

[]

In [184]:
print(x)
x_cp = x.copy()
print(x_cp)
print(x.copy())

[1, 5, 2, 7, 4, 8, 3]
[1, 5, 2, 7, 4, 8, 3]
[1, 5, 2, 7, 4, 8, 3]